.leaderboardContainer {
  width: 400px;
  height: 500px;
  background-color: rgba(71, 82, 73, 0.529);
  border-radius: 1rem;
  border: 4px solid rgba(0, 0, 0, 0.3);
  padding: 20px 38px;
  filter: drop-shadow(0 30px 10px rgba(128, 227, 159, 0.456));
  text-align: center;
  transform: rotateY(40deg) rotateX(-10deg);
  overflow: hidden;
}

.leaderboardHeader h2 {
  padding-bottom: 20px;
  font-size: 1.8rem;
  color: rgba(11, 241, 1);
  font-family: "Press Start 2P", system-ui;
}

.scoreClimb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.top1, .top2, .top3{
  margin-bottom: 2px;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.5rem;
}

.climb1, .climb2, .climb3 {
  width: 110px;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center; 
}



.climb1 {
  height: 80px;
}

.top1, .climb1{
  background-color: #e0c344;
}

.top2, .climb2{
  background-color: #c0c0c0;
}

.climb2, .climb3 {
  height: 50px;
}

.climb1 p span, .climb2 p span, .climb3 p span{
  font-size: 2.4rem;
}

.top3, .climb3 {
  background-color: #cd7f32;
}


.restPlaces{
  color: white;
  height: 230px;
  margin: 10px;
  overflow: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.restPlaces ul{
  list-style-type: none;
}

.restScore p{
  border-radius: 5px;
  background-color: rgba(23, 190, 65, 0.43);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}




