/* Modal Styles */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(19, 18, 18, 0.885); /* Semi-transparent svart bakgrunn */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Over alt annet */
}

.modalContent {
    width: 100%;
    max-width: 400px; 
    padding: 10px;
    backdrop-filter: blur(6px) saturate(130%);
    border-radius: 1rem;
    filter: drop-shadow(0 30px 10px rgba(128, 227, 159, 0.456));
    background-color: rgba(255, 255, 255, 0.35);
    transform: rotateX(-5deg);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   text-align: end;
}

.modalClose {
    margin-bottom: 20px;
    background: #ff5c5c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.modalClose:hover {
    background: #ff0000;
}
